.postularse .container {
    grid-template-areas: 
        "header header header header header header"
        "about about about about about about"
        "form form form form form form"
        "foot foot foot foot foot foot";
}

.postularse .section__form {
    grid-area: form;

    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns:  5rem minmax(min-content, 1fr) 5rem;
    justify-items: center;
    margin-bottom: 5rem;
}

.postularse .section__form h2 {
    margin: 5rem 0px;
}

.postularse .contacto__card {
    grid-column: 2 / 2;
    width: 100%;
    text-align: center;
}

.postularse .section__form form {
    grid-column: 2;
    width: 50%;
    text-align: left;
}

.postularse .section__form .loading,
.postularse .section__form .form__msg {
    grid-row: 2;
    grid-column: 2;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.postularse .section__form form input,
.postularse .section__form form select {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: rgba(255,255,255,.5);
    border: solid 1px #333;
    width: 100%;
    display: block;
    margin-bottom: 1.7rem;
}

.postularse .section__form button{
    color: var(--blanco);
    background-image: linear-gradient(to right bottom, rgba(244, 92, 67, 0.8), rgba(235, 51, 73, 0.8));
}




/* MEDIA QUERY */
@media (max-width: 990px){
    .postularse .section__form form {
        width: 100%;
    }
}

@media (max-width: 767px){
    .postularse .section__form {
        grid-template-columns:  1rem minmax(min-content, 1fr) 1rem;
    }
}
